In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data Raw.csv')
df.drop(columns=['Unnamed: 0', 'X', 'Unnamed: 4'], axis=1, inplace=True)
df.rename(columns={'time': 'Date', 'value': 'Value'}, inplace=True)
df.head(10)

       Date    Value
0  1991.500  3.52659
1  1991.583  3.18089
2  1991.667  3.25222
3  1991.750  3.61100
4  1991.833  3.56587
5  1991.917  4.30637
6  1992.000  5.08834
7  1992.083  2.81452
8  1992.167  2.98581
9  1992.250  3.20478

In [3]:
#Transformamos los valores decimales de las fechas para que parezcan fechas como tal:
from datetime import datetime, timedelta

def Fecha(date):
    year = int(date)
    days_decimal = date - year
    base_date = datetime(year, 1, 1)
    days_to_add = timedelta(days=int(days_decimal * 365))
    date = base_date + days_to_add
    return date.replace(day=1).strftime("%Y-%m-%d")

df['Date'] = df['Date'].apply(Fecha)
#La idea es que los valores decimales calcen con cada primero del mes, por eso se reemplaza el día por 1, y así para todos los meses del año.

In [4]:
df.head(5)

         Date    Value
0  1991-07-01  3.52659
1  1991-08-01  3.18089
2  1991-09-01  3.25222
3  1991-10-01  3.61100
4  1991-11-01  3.56587

In [5]:
df.tail(5)

           Date     Value
199  2008-01-01  21.65429
200  2008-03-01  18.26495
201  2008-04-01  23.10768
202  2008-05-01  22.91251
203  2008-06-01  19.43174

In [6]:
df.to_csv('Data Limpia.csv', index=False)